@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.title-font {
   
    font-family: 'Anton', sans-serif;
   
}

.img-junte-se {

margin-left: 70px;
padding-bottom: 5px;

}


.fs-45{

    font-size: 45pt;

}

.btnh:hover {

    background-color:#054f77;
    margin-bottom: 20px;
    padding-top: 0px;
}


.btn {

    margin-bottom: 20px;
    padding-top: 0px;
}