<!--carousel-->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <img src="assets/img/nossospilares.jpg" class="d-block w-100" alt="Nossos Pilares">
        <div class="carousel-caption d-none d-sm-block">
          <h1 class='title-font fs-45'>Nossos pilares</h1>
        </div>
      </div>
    </div>
  </div>
  <!--carousel-->
  
  
  <!--cards-->
  <div class="container ">
  
    <div class="row d-flex align-items-start ">
  
      <div class="col-md-4">
        <div class="card mt-4 border-0">
          <div class="card-body">
            <h3 class="card-title text-center title-font ">Missão</h3>
            <p class="card-text text-center">Oferecer a comunidade um ambiente seguro, respeitoso e interativo, que
              possibilita às pessoas o poder de criar redes, compartilhar conhecimento e moldar o futuro através da
              tecnologia.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="card mt-4 border-0 ">
          <div class="card-body ">
            <h3 class="card-title text-center title-font ">Visão</h3>
            <p class="card-text text-center">Ser reconhecida pela sociedade como a rede voltada para a disseminação do
              saber, incorporando ferramentas modernas e adequadas aos alunos da era digital, assegurando assim, uma
              educação de qualidade e promovendo oportunidade para todos seguindo a ODS 4.0 da <a
                href="https://brasil.un.org/pt-br/sdgs/4" target="_blank">ONU</a>.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mt-4 border-0">
          <div class="card-body">
            <h3 class="card-title text-center title-font ">Valores</h3>
            <p class="card-text text-center">
              Paixão, Simplicidade, Curiosidade, Solidariedade, Diversidade, Liberdade, Respeito, Segurança e Honestidade
            </p>
            <div class="text-center">
              <a class="btn btn-primary button btnh" href="#" role="button" routerLink='/'>Saiba mais!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row d-flex justify-content-center">
      <div class="col-md-4">
        <div class="card mt-4 border-0">
          <h3 class="card-title text-center title-font ">Junte-se a nós!</h3>
          <div class="card-body img-junte-se  ">
            <a href=""><img src="assets/img/junte-se.jpg" alt="Junte-se a nós clicando no botão abaixo" class="w-75 h-75 "></a>
          </div>
          <div class="text-center">
            <a class="btn btn-primary button btnh" href="#" role="button" routerLink='/'>Clique aqui e cadastre-se!</a>
          </div>
        </div>
  
      </div>
  
    </div>
    <!--/cards-->