@import url('https://fonts.googleapis.com/css?family=Poppins');

/*Fonte Titulo e Texto*/
.title-font-n {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/*Cor dos titulos */
.title-font {
    font-family: 'Poppins', sans-serif;
    color:#054f77;
    font-weight: bold;
}

/*Fonte do texto */
.font_n {
    font-family: 'Poppins', sans-serif;
    
}

.img-junte-se {

margin-left: 70px;
padding-bottom: 5px;

}

.fs-45{

    font-size: 45pt;
}

.btnh:hover {

    background-color:#054f77;
    margin-bottom: 20px;
    padding-top: 0px;
}


.btn {

    margin-bottom: 20px;
    padding-top: 0px;
}