<app-navbar-pagina-estatica></app-navbar-pagina-estatica>

<!-- Carousel -->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://i.imgur.com/HV0tINM.jpg" alt="Primeiro Slide">
        <div class="carousel-caption d-none d-sm-block">
          <h1 class="fonte fs-45">
            EducaSocial
          </h1>
        </div>
      </div>
    </div>
  
  </div>
  <!-- Carousel -->
  
  <!-- Jumbotrom -->
  <div class="container d-flex margem-b">
  
    <div class="jumbotron bg-white p-j ">
  
      <h1 class="text-center fonte ">
        Dar ás pessoas o poder de criar comunidades, compartilhar conhecimento e mudar o futuro!
      </h1>
      <hr>
  
      <p class="text-center">
        Nós da EducaSocial trabalhamos juntos para conectar pessoas e disseminar conhecimento à todos.
        A conexão de pessoas com histórias, conhecimentos, experiências e pontos de vista distintos, nos possibilita
        construir uma comunidade rica em diversidade que educa, apoia e proporciona as melhores experiências a todos.
      </p>
  
    </div>
  </div>
  <!-- Jumbotrom -->
  
  <!-- Foto + Texto -->
  <div class="contairner">
    <div class="row d-flex justify-content-center ">
  
      <div class="col-md-4 p-75r p-75l">
        <img class="d-block w-100 " src="https://i.imgur.com/99yiwuz.jpg" alt="Primeiro Slide">
      </div>
  
  
      <div class="col-md-4 p-75r p-75l">
  
        <div class="text-center">
          <h1 class="fonte">O EducaSocial</h1>
        </div>
  
        <div class="text-center">
          <p>
            Nossos princípios são aquilo que defendemos. Promover a educação de qualidade e oportunidade de aprendizagem
            para todos, fazem parte da nossa essência.
          </p>
  
          <div class="text-center">
            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Saiba mais</a>
          </div>
        </div>
  
      </div>
  
    </div>
  </div>
  <!-- Texto + Foto -->
  <br>
  <!-- Flex Box 2 -->
  <div class="mt-50 contairner">
    <div class="row d-flex justify-content-center ">
  
      <div class="col-md-4 p-75r p-75l">
  
        <div class="text-center">
          <h1 class="fonte">Nossos pilares</h1>
        </div>
  
        <div class="text-center">
          <p>
            Entenda nosso compromisso para com a sociedade através da nossa missão, visão e valores!
          </p>
  
          <div class="text-center">
            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Saiba mais</a>
          </div>
        </div>
  
      </div>
  
      <div class="col-md-4 p-75r p-75l  ">
        <img class="d-block w-100 " src="https://i.imgur.com/4bCqy1V.jpg" alt="Primeiro Slide">
      </div>
  
    </div>
  </div>
  <!-- Texto + Foto -->
  <app-rodape></app-rodape>
  