<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
  
      <a class="navbar-brand fonte edu">EducaSocial </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <hr class="dropdown-divider">
      <!--Pesquisar-->
      <div class="container-fluid  pesquisa ">
  
        <form action="">
          <input class="in" type="text" name="search" placeholder="Pesquisar">
  
          <button class="bt-ps" type="submit">
            <i class="fa fa-search fa-1x  " aria-hidden="true"></i>
          </button>
        </form>
      </div>
      <!--/Peesquisar-->
  
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
  
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
  
          <li class="nav-item " style="width: 100px;">
            <a class="nav-link fonte text-dark" aria-current="page" href="#">Inicio <i class="fa fa-home"
                aria-hidden="true"></i> </a>
          </li>
          <li class="nav-item" style="width: 100px;">
            <a class="nav-link fonte text-dark" href="#"> Perfil <i class="fa fa-user" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item" style="width: 100px;">
            <a class="nav-link fonte text-dark" href="#">Fotos <i class="fa fa-camera" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item" style="width: 100px;">
            <a class="nav-link fonte text-dark" href="#">Cursos <i class="fa fa-bookmark" aria-hidden="true"></i> </a>
          </li>
  
          
  
          <li class="nav-item dropdown" style="width: 100px;">
           <!-- <a class="nav-link   border-0 fonte text-dark" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false"> Notificações <i class="fa fa-bolt" style="width: 0px;" aria-hidden="true"></i> </a>-->
      
      
            <div class="dropdown-menu  ml-auto  border-bc boder-0">
              <a class="dropdown-item fonte" href="#"> a</a>
              <a class="dropdown-item fonte" href="#">b</a>
              <a class="dropdown-item fonte" href="#">c</a>
              <a class="dropdown-item fonte" href="#">d</a>
              <a class="dropdown-item fonte" href="#">e</a>
              <a class="dropdown-item fonte" href="#">f</a>
              <a class="dropdown-item fonte" href="#">g</a>
              <a class="dropdown-item fonte" href="#">h</a>
              <a class="dropdown-item fonte" href="#">i</a>
              <a class="dropdown-item fonte" href="#">j</a>
              <a class="dropdown-item fonte" href="#">k</a>
              <a class="dropdown-item fonte" href="#">l</a>
      
            </div>
          </li>
        </ul>
  
      </div>
    </div>
  

    <!--fotoponto-->
    <div class="container-fluid ">
      <hr class="dropdown-divider">
  
  
      <li class="nav-item dropdown" style="list-style: none;">
        <a class="nav-link dropdown-toggle  border-0 fonte text-dark" data-toggle="dropdown" href="#" role="button"
          aria-haspopup="true" aria-expanded="false"> <img src="https://i.imgur.com/MEft4x8.jpg" alt="" width="50px"
            height="50px" class="img-fluid rounded-circle boder-0"> Bruna Ariele </a>
  
        <div class="row">
          <div class="col-md-0 " style="width: 10px;">
            <div class="dropdown-menu  ml-auto  border-bc boder-0">
              <a class="dropdown-item fonte" href="#">Ação</a>
              <a class="dropdown-item fonte" href="#">Privacidade</a>
              <a class="dropdown-item fonte" href="#">Configurações</a>
  
              <div class="dropdown-divider border-bc"></div>
              <a class="dropdown-item fonte" href="#">Sair <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
  
            </div>
  
          </div>
        </div>
      </li>
  
    </div>
    <!--/Fotoponto-->
  
  
  </nav>
