<!--container card login e banckground-->
<div class="container-login"
    style="background-image: url('https://github.com/Karinecasant/bootstrap/blob/main/assets/editada%2011.png?raw=true')">
    <div class="form-login">
        <!--/container card login e banckground-->

        <!--formulario-->
        <form>

            <div class='d-flex justify-content-center'> 
                <img src="https://i.imgur.com/KCjuo42.png" alt="logo EducaSocial" class="h-25 w-25">
            </div>
            <!--titulo texto boas vindas-->
            <div class="text-center title-font font-weight-bold fs-6 mb-2 ">
                EducaSocial
            </div>
            
            <!--/titulo texto boas vindas-->

            <div class="config-text-form mt-40">
                <div class="form-group">
                    <input [(ngModel)]="userLogin.nome" type="nome"
                        class="form-control border-0 shadow p-3 mb-3 bg-white rounded font-form-group" id="nome"
                        aria-describedby="nome" placeholder="Digite seu nome" name='comment' required>
                </div>
                <div class="form-group">
                    <input [(ngModel)]="userLogin.senha" type="password"
                        class="form-control border-0 shadow p-3 mb-3 bg-white rounded p-t-5 font-form-group" id="senha"
                        placeholder="Digite sua senha" name='comment' required>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input mb-0" id="exampleCheck1">
                    <label class="form-check-label mt-1" for="exampleCheck1">Lembre-me</label>
                </div>

                <!--button-->
                <div class="config-button config-text-extra">
                    <button (click)='entrar()' type="button"
                        class="btn btn-secondary btn-lg btn-block config-button title-font">ENTRAR</button>
                </div>
                <!--/button-->

            </div>
        </form>
        <!--/formulario-->

        <!--link para cadastro pelo sistema-->
        <div class="config-text-extra">
            <div class="p-t-57 p-b-20 p-t-30">
                <span class="txt1">
                    Não tem uma conta? <a routerLink='/cadastrar' class="efeito-link">cadastre-se</a>
                </span>
            </div>
            <!--/link para cadastro pelo sistema-->

            <!--link para cadastro com API Externa facebook e GOOGLE-->
            <div class="flex-c p-b-112 mt-30">
                <span class="txt2">
                    Ou entre com
                </span>
                <a href="#" class="login100-social-item px-1">
                    <img src="https://github.com/Karinecasant/bootstrap/blob/main/assets/img/facebook.png?raw=true"
                        height="20px" width="20px">
                </a>
                <a href="#" class="login100-social-item px-1">
                    <img src="https://github.com/Karinecasant/bootstrap/blob/main/assets/img/google.png?raw=true"
                        height="20px" width="20px" alt="GOOGLE">
                </a>
            </div>
            <!--/link para cadastro com API Externa facebook e GOOGLE-->

        </div>
    </div>
</div>
<app-rodape></app-rodape>
