<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
   <img src="https://i.imgur.com/KCjuo42.png" alt="Logo EduSocial" class='mr-4 logo-nb'>
    <a class="navbar-brand fonte" href="#">EducaSocial</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0"  style="font-size: 20px;">
        <li class="nav-item">
          <a routerLink='/entrar' class="nav-link text-dark ff" href="#">Inicio</a>
        </li>
        <li class="nav-item active">
          <a routerLink='/sobre-nos' class="nav-link text-dark ff" aria-current="page" href="#">Sobre</a>
        </li>
        <li class="nav-item">
          <a routerLink='/pilares' class="nav-link text-dark ff" href="#">Pilares</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-dark ff" href="#"></a>
        </li>
        
        
      </ul>
      <form class="d-flex">
        
        <button class="but v" >Cadastre-se</button>
      </form>
    </div>
  </div>
</nav>





