.font {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: #054f77;
}

.font_n {
    font-family: 'Poppins', sans-serif;
    
}

.card_foto {
    max-width: 200px;
    max-height: 100px;
}

.cor {
    color: #054f77;
}



