<app-home-usuario></app-home-usuario>

<!-- Grupos criados por voce -->
<div class="container mt-4">
    <div class="row m-2">
        <h2 class="display-4 text-center"> Grupos criados por você!</h2>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 ">
        <!-- card para criar novos grupos -->
        <div class="col mt-2 ">
            <div class="card d-flex  align-items-center ">
                <img class="card-img-top h-50 w-50" src="https://i.imgur.com/ZH5HmAF.png" alt="Card image cap">
                <div class="card-body">
                    <button class="btn btn-success" data-toggle="modal" data-target="#modalCriaGrupo">Crie seu
                        grupo</button>
                </div>
            </div>
        </div>
        <!-- fim card criar grupo -->

        <!-- listagem  de grupos criados por voce -->
        <div class="col mt-2" *ngFor='let grupo of grupoCriadoPorVoce'>
            <div class="card d-flex  align-items-center ">
                <img class="card-img-top h-50 w-50" [src]="grupo.fotoPerfil" alt="Card image cap">
                <h4 class="text-center"> {{grupo.nome}} </h4>
                <p><small class="text-muted">{{grupo.descricao}}</small></p>
                <div class="card-body">
                    <a class="btn btn-info mr-2">Editar </a>
                    <button (click)= "entrar(grupo)" class="btn btn-success">Entrar </button>
                </div>
            </div>
        </div>
        <!-- fim listagem de grupos criados por você -->
    </div>
    <hr>
</div>

<!-- Grupos que voce participa -->
<div class="container mb-4">
    <div class="row m-2 ">
        <h2 class="display-4 text-center"> Grupos que você participa! </h2>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4 ">
        <!-- listagem  de grupos criados por voce -->
        <div class="col mt-2" *ngFor='let grupo of grupoParticipante'>
            <div class="card d-flex  align-items-center ">
                <img class="card-img-top h-50 w-50" [src]="grupo.fotoPerfil" alt="Card image cap">
                <h4 class="text-center"> {{grupo.nome}} </h4>
                <p><small class="text-muted">{{grupo.descricao}}</small></p>
                <div class="card-body">
                    <a (click)= "entrar(grupo)" class="btn btn-success">Entrar </a>
                </div>
            </div>
        </div>
        <!-- fim listagem de grupos criados por você -->
    </div>
    <hr>
</div>


<!-- Modal criar grupo-->
<div class="modal fade" id="modalCriaGrupo" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="TituloModalCentralizado">Crie seu grupo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- form -->
                <form>
                    <div class="form-group">
                        <label for="nomeGrupo">Nome do grupo</label>
                        <input type="text" class="form-control" id="nomeGrupo" aria-describedby="nomeHelp"
                            placeholder="nome do grupo">
                    </div>

                    <div class="form-group">
                        <label for="fotoPerfil">Link foto perfil</label>
                        <input type="text" class="form-control" id="fotoPerfil" aria-describedby="fotoHelp"
                            placeholder="foto perfil">
                    </div>

                    <div class="form-group">
                        <label for="fotoCapa">Link foto capa</label>
                        <input type="text" class="form-control" id="fotocapa" aria-describedby="fotoCapaHelp"
                            placeholder="foto capa">
                    </div>

                    <div class="input-group mb-3">
                        <select class="custom-select" id="selectTema" name="selectTema">
                            <option selected>Selecione um tema</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="descricaoGrupo">Descrição do Grupo</label>
                        <textarea class="form-control" id="descricaoGrupo" rows="5"></textarea>
                    </div>

                </form>
                <!-- fim form -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Salvar mudanças</button>
            </div>
        </div>
    </div>
</div>

<!-- modal editar grupo -->
<div class="modal fade" id="modalEditarGrupo" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="TituloModalCentralizado">Edite seu grupo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- form -->
                <form>
                    <div class="form-group">
                        <label for="fotoPerfil">Link foto perfil</label>
                        <input type="text" class="form-control" id="fotoPerfil" aria-describedby="fotoHelp"
                            placeholder="foto perfil">
                    </div>

                    <div class="form-group">
                        <label for="fotoCapa">Link foto capa</label>
                        <input type="text" class="form-control" id="fotocapa" aria-describedby="fotoCapaHelp"
                            placeholder="foto capa">
                    </div>


                    <div class="input-group mb-3">
                        <select class="custom-select" id="selectTema" name="selectTema">
                            <option selected>Selecione um tema</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="descricaoGrupo">Descrição do Grupo</label>
                        <textarea class="form-control" id="descricaoGrupo" rows="5"></textarea>
                    </div>

                </form>
                <!-- fim form -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Salvar mudanças</button>
            </div>
        </div>
    </div>
</div>