<div class="container-fluid pb-0 mb-0 mt-0 justify-content-center text-light ">
    <footer>
        <div class="row my-2 justify-content-center py-1">
            <div class="col-11">
                <div class="row ">
                    <div class="col-xl-4 col-md-2 col-sm-2 d-none d-sm-block ">
                        <img class="h-100 w-100" src="https://i.imgur.com/8ltoVma.png" alt="Logo EduSocial">
                        <!--<h3 class="text-muted mb-md-0 mb-5 bold-text">Pepper.</h3>-->
                    </div>


                    <div class="col-xl-2 col-md-2 col-sm-2 col-1">
                        <h6 class="mb-2 mb-lg-2 text-light "><b>Menu</b></h6>
                        <ul class="list-unstyled text-light">
                            <li><a class="text-white" routerLink='/pagina-inicial'>Início</a></li>
                            <li><a class="text-white" routerLink='/sobre-nos'>Sobre</a></li>
                            <li><a class="text-white" routerLink='/pilares'>Pilares</a></li>
                            <li><a class="text-white" routerLink='/entrar'>Entrar</a></li>
                            <li><a class="text-white" routerLink='/cadastre-se'>Cadastrar</a></li>

                        </ul>
                    </div>
                    <div class="col-xl-2 col-md-2 col-sm-4 ">
                        <h6 class="mb-3 mb-lg-2 text-light"><b>O EducaSocial</b></h6>
                        <ul class="list-unstyled text-light">
                            <li><a class="text-white" routerLink='/sobre-nos'>Nossa essência</a></li>
                            <li><a class="text-white" routerLink='/sobre-nos'>Nossa filosofia</a></li>
                            <li><a class="text-white" routerLink='/sobre-nos'>Nossa equipe</a></li>

                        </ul>
                    </div>

                    <div class="col-xl-2 col-md-2 col-sm-4">
                        <h6 class="mb-3 mb-lg-2 text-light "><b>Suporte</b></h6>
                        <ul class="list-unstyled text-light">
                            <li>FAQ</li>
                            <li>Telefone</li>
                            <li>Chat</li>

                        </ul>
                    </div>

                    <div class="col-xl-2 col-md-4 col-sm-4 ">
                        <h6 class="mb-3 mb-lg-2 text-light  mt-sm-0 mt-5"><b>Endereço</b></h6>
                        <p class="mb-1 text-light">R. Pedroso Alvarenga, 15 - Itaim Bibi, São Paulo - SP, 04531-010</p>
                        <p></p>
                    </div>
                </div>
                

                <div class="container row-wrap">

                    <div class=" d-flex justify-content-center ">

                        <div class="row d-flex justify-content-center align-itens-center">

                            <ul class="br ">
                                <li>
                                    <a href="" target="_blank" class="icoFacebook"> <i class="fa fa-facebook-square"
                                            aria-hidden="true"></i>
                                    </a>
                                </li>

                                <li>
                                    <a href="" target="_blank" class="icoInstagrem"> <i class="fa fa-instagram"
                                            aria-hidden="true"></i></a>
                                </li>

                                <li>
                                    <a href="" target="_blank" class="icoTwitter"> <i class="fa fa-twitter-square"
                                            aria-hidden="true"></i></a>
                                </li>

                            </ul>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </footer>


</div>
<div class="footer-copyright bg-dark text-center py-1">
    <span class="text-light">© 2021 Copyright: </span>
    <a class="text-light" target="_blank " href="https://educasocial.com.br">educasocial.com.br</a>
    <h6 class="text-light font_n">Todos os direitos reservados</h6>
</div>