@import url('https://fonts.googleapis.com/css?family=Poppins');

/*Fonte Titulo e Texto*/
.title-font-n {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

/*Cor dos titulos */
.title-font {
    font-family: 'Poppins', sans-serif;
    color:#054f77;
    font-weight: bold;
}

/*Fonte do texto */
.font_n {
    font-family: 'Poppins', sans-serif;
    
}

/*Fonte usada no titulo*/
.fs-45{
    font-size: 45pt;
}

.arial-naroow{
    font-family: 'arial-naroow', sans-serif;
}

.height{
    height: 75%;
}

.d{
    padding-right: 50px;
}

.e{
    padding-left: 50px;
}


/* Efeitos e estilização das imagens laterais */
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}