<app-navbar-pagina-estatica></app-navbar-pagina-estatica>
<!--Carousel-->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" class="c">

    <div class="carousel-inner">
      <div class="carousel-item active ">
        <img src="https://i.imgur.com/dfZI5C2.jpg" class="d-block w-100" alt="Sobre o EducaSocial">
        <div class="carousel-caption d-none d-sm-block">
          <h1 class='pl-3 title-font-n fs-45'>Sobre o EducaSocial</h1>
        </div>
      </div>
    </div>
  </div>
  <!--Carousel-->

  <div class="justify container">
    <div class="row d-flex justify-content-center">
      <h2 class="text-center justify-center title-font mb-5 mt-5">Promovendo educação de qualidade e
        criando oportunidades de aprendizado à
        todos!</h2>
  
      <div class="col-md-5 ">
          <h2 class='text-left title-font'>Nossa Essência</h2>
          <p class=' text-justify font_n '>O EducaSocial nasceu para atender a ODS 4.0 da ONU que visa assegurar uma
            educação
            de qualidade inclusiva e equitativa, promovendo oportunidade de aprendizado a todos.
            Buscamos incentivar pessoas, conectando-as através de ideias e por meio do compartilhamento de conhecimento e
            novas
            experiências.
          </p>
      </div>
  
      <div class='col-md-5'>
        <img src="https://i.imgur.com/XsHSiEm.png" class='w-75 h-85 d-block ml-5 mb-5' alt="Imagem Word">
      </div>
    </div>
  
    <div class='row'>
      <h2 class='text-left pl-3 title-font'>Nossa Filosofia</h2>
      <p class='p-3 text-justify font_n'>A EducaSocial é uma rede bem diversa e interativa, que permite o compartilhamento de conhecimento através de diálogo, aproveitando assim a grande diversidade de saberes e a individualidade de cada integrante.
      Acreditamos que a educação de qualidade é a única maneira de realmente transformar a humanidade."
      <p>
    </div>
  
    
    
    <!--Parte da frase e imagem-->
      <div class="row d-flex justify-content-center mt-5 mb-5">
  
        <div class='col-md-5'>
          <img src="https://i.imgur.com/OGNrXij.png" class='w-75 h-100 d-block ml-5 mb-5 ' alt="Imagem Word">
        </div>
  
        <div class="col-md-5 ">
          <div class="row-wrap mt-5">
            <h2 class=" text-center justify-content arial-naroow font-italic title-font">“Feliz aquele que transfere o que sabe e
              aprende o que ensina.”</h2>
            <h5 class="arial-naroow mb-5 title-font">- Cora Coralina</h5>
          </div>
        </div>
      </div>
      <br>
    <!--Parte da frase e imagem-->
  
  
    <!--Cards das fotos dos integrantes-->
    <section class="pt-5 pb-5">
      <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-3 title-font ">Time EducaSocial</h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
    
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
    
                                <div class="col-md-4 mb-3">
                                    <div class="card b_card">
                                        <img class="img-fluid .b_foto" alt="100%x280" src="https://i.imgur.com/oQIzPqg.jpg">
                                        <div class="card-body text-center">
                                            <h4 class="card-title title-font ">Bruna Soares</h4>
                                            <p class="card-text">Desenvolvedora Full Stack</p>
    
                                        </div>
    
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card b_card">
                                        <img class="img-fluid b_foto" alt="100%x280" src="https://i.imgur.com/riR5uSp.jpg">
                                        <div class="card-body text-center">
                                            <h4 class="card-title title-font ">Gabriel Fraga</h4>
                                            <p class="card-text">Desenvolvedor Full Stack</p>
    
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card b_card ">
                                        <img class="img-fluid b_foto" alt="100%x280" src="https://i.imgur.com/N2XQ6rx.jpg">
                                        <div class="card-body text-center">
                                            <h4 class="card-title title-font ">Jean Carlos</h4>
                                            <p class="card-text">Desenvolvedor Full Stack</p>
    
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
    
                                <div class="col-md-4 mb-3">
                                    <div class="card b_card">
                                        <img class="img-fluid b_foto" alt="100%x280" src="https://i.imgur.com/3ixyo5m.jpg">
                                        <div class="card-body text-center">
                                            <h4 class="card-title title-font ">Karine Santos</h4>
                                            <p class="card-text">Desenvolvedora Full Stack</p>
    
                                        </div>
    
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card b_card">
                                        <img class="img-fluid b_foto" alt="100%x280" src="https://i.imgur.com/ujIYc4A.jpg">
                                        <div class="card-body text-center">
                                            <h4 class="card-title title-font ">Natacha Duarte</h4>
                                            <p class="card-text">Desenvolvedora Full Stack</p>
    
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card b_card b_foto">
                                        <img class="img-fluid" alt="100%x280" src="https://i.imgur.com/fr7ZJh0.jpg">
                                        <div class="card-body text-center">
                                            <h4 class="card-title title-font ">Nicolas Vasconcelos</h4>
                                            <p class="card-text">Desenvolvedor Full Stack</p>
    
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

  </section>
</div>
<!--Cards das fotos dos integrantes-->
  <app-rodape></app-rodape>