<app-navbar-pagina-estatica></app-navbar-pagina-estatica>
<!-- Carousel -->
<div class="contairner justify-content-center d-flex">
    <div class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Flag_of_the_United_Nations.svg/1200px-Flag_of_the_United_Nations.svg.png"
                    alt="Primeiro Slide">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="title-font-n mb-3">
                        Objetivos de Desenvolvimento Sustentáveis da ONU
                    </h3>
                    <a type="button" class="font_n btn btn-outline-light btn-lg" href="https://odsbrasil.gov.br/" target="_blank">Saiba mais!</a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Carousel -->
<br>
<hr>
<br>

<!-- Row Card 1-->
<div class="contairner d-flex justify-content-center">
    <div class="row d-flex justify-content-center ">

        <div class="col-md-4 d-flex justify-content-center ">
            <div class=" bd-azul card  mb-3" style="max-width: 18rem;">
                <div class=" bg-azul card-header card-title font_n text-white justify-content-center text-center">
                    Paixão
                </div>

                <div class="card-body ">
                    <p class="card-text text-center font_n">
                        Acreditamos que a educação de qualidade é a única maneira de realmente transformar a humanidade.
                    </p>
                </div>
            </div>
        </div>


        <div class="col-md-4 d-flex justify-content-center">
            <div class=" bd-azul card  mb-3" style="max-width: 18rem;">
                <div class=" bg-azul card-header card-title font_n text-white justify-content-center text-center">
                    Simplificar
                </div>

                <div class="card-body ">
                    <p class="arial-naroow card-text text-center font_n">
                        Educar é simplificar!
                    </p>
                </div>
            </div>
        </div>


        <div class="col-md-4 d-flex justify-content-center">
            <div class=" bd-azul card  mb-3" style="max-width: 18rem;">
                <div class="  bg-azul card-header card-title font_n text-white justify-content-center text-center">
                    Curiosidade
                </div>

                <div class="card-body ">
                    <p class=" arial-naroow card-text  text-center font_n">
                        O EducaSocial busca estimular a curiosidade dos usuários, promovendo uma integração com os
                        demais membros da rede.
                    </p>
                </div>
            </div>
        </div>




    </div>
</div> -->
<!-- Row Card 1-->

<!-- <br> -->

<!-- Row Card 2 -->
<div class="contairner d-flex justify-content-center">
    <div class="row d-flex justify-content-center ">

        <div class="col-md-4 d-flex justify-content-center ">
            <div class=" bd-azul card  mb-3" style="max-width: 18rem;">
                <div class=" bg-azul card-header card-title text-white justify-content-center text-center font_n">
                    Solidariedade
                </div>

                <div class="card-body ">
                    <p class="arial-naroow card-text text-center font_n">
                        A solidariedade é o sentimento que melhor expressa o respeito pela dignidade humana. O
                        EducaSocial, busca promover o diálogo com a comunidade, em busca de construir um mundo mais
                        justo e igualitário a todos, promovendo a solidariedade no compartilhamento do saber.
                    </p>
                </div>
            </div>
        </div>


        <div class="col-md-4 d-flex justify-content-center">
            <div class=" bd-azul card  mb-3" style="max-width: 18rem;">
                <div class=" bg-azul card-header card-title fonte text-white justify-content-center text-center font_n">
                    Diversidade
                </div>

                <div class="card-body">
                    <p class="arial-naroow card-text text-center font_n">
                        Nossa rede é diversa e aberta a todos! Possui uma quantidade de conteúdo vasta que pode ser
                        acessada e partilhada por pessoas com singularidades únicas, independente de classe, gênero,
                        religião, etnia, política ou afins.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex justify-content-center">
            <div class=" bd-azul card  mb-3" style="max-width: 18rem;">
                <div class=" bg-azul card-header card-title font_n text-white justify-content-center text-center">
                    Liberdade
                </div>

                <div class="card-body">
                    <p class="arial-naroow card-text text-center font_n">
                        Damos a liberdade para que o usuário seja quem ele é, garantindo-lhe uma interação baseada no
                        respeito mútuo, e sua segurança.
                    </p>
                </div>
            </div>
        </div>


    </div>
</div> -->
<!-- Row Card 2-->
<!-- Row Card 3 -->
<div class="contairner d-flex justify-content-center">
    <div class="row d-flex justify-content-center ">

        <div class="col-md-4 d-flex justify-content-center ">
            <div class=" bd-azul card  mb-3" style="max-width: 18rem;">
                <div class=" bg-azul card-header card-title font_n text-white justify-content-center text-center">
                    Respeito
                </div>

                <div class="card-body ">
                    <p class="arial-naroow card-text text-center font_n">
                        Entendemos que cada pessoa é um ser único e com caraterísticas que os tornam singulares!
                        Portanto desenvolvemos uma rede que dê ao usuário o livre-arbítrio para ser ele mesmo, de modo
                        seguro, garantindo uma interação diversa e respeitosa para com os demais integrantes da
                        plataforma.
                    </p>
                </div>
            </div>
        </div>


        <div class="col-md-4 d-flex justify-content-center ">
            <div class=" bd-azul card  mb-3" style="max-width: 18rem;">
                <div class=" bg-azul card-header card-title font_n text-white justify-content-center text-center">
                    Segurança
                </div>

                <div class="card-body ">
                    <p class="arial-naroow card-text text-center font_n">
                        Levamos a segurança a sério, por isso nossa rede promove e assegura a privacidade de cada
                        membro.
                    </p>
                </div>
            </div>
        </div>


        <div class="col-md-4 d-flex justify-content-center ">
            <div class=" bd-azul card  mb-3" style="max-width: 18rem;">
                <div class=" bg-azul card-header card-title font_n text-white justify-content-center text-center">
                    Honestidade
                </div>

                <div class="card-body ">
                    <p class="arial-naroow card-text text-center font_n">
                        Desenvolvemos ações e atitudes que refletem, através do EducaSocial, a dignidade e o respeito
                        por todos os envolvidos.
                    </p>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- Row Card 3-->
<app-rodape></app-rodape>