<!--container card login e banckground-->
<div class="container-login"
    style="background-image: url('https://github.com/Karinecasant/bootstrap/blob/main/assets/editada%2011.png?raw=true')">
    <div class="form-login">
        <!--container card login e banckground-->

        <!--formulario-->
        <form>

            <!--titulo texto boas vindas-->
            <div class="text-center">
                Bem vindo ao Educa
            </div>
            <!--/titulo texto boas vindas-->

            <div class="config-text-form mt-30">
                <div class="form-group">
                    <input type="email" class="form-control border-0 shadow p-3 mb-3 bg-white rounded font-form-group"
                        id="email" aria-describedby="email" placeholder="digite seu e-mail" name='comment' required>
                </div>
                <div class="form-group">
                    <input type="nome" class="form-control border-0 shadow p-3 mb-3 bg-white rounded font-form-group"
                        id="nome" aria-describedby="nome" placeholder="digite seu nome" name='comment' required>
                </div>
                <div class="form-group">
                    <input type="url" class="form-control border-0 shadow p-3 mb-3 bg-white rounded font-form-group"
                        id="url_foto" aria-describedby="url" placeholder="digite a url da foto" name='comment' required>
                </div>
                <div class="form-group">
                    <input type="password"
                        class="form-control border-0 shadow p-3 mb-3 bg-white rounded p-t-5 font-form-group" id="senha"
                        placeholder="digite sua senha" name='comment' required>
                </div>
                <div class="form-group">
                    <input type="password"
                        class="form-control border-0 shadow p-3 mb-3 bg-white rounded p-t-5 font-form-group"
                        id="senha-confirm" placeholder="confirme sua senha" name='comment' required>
                </div>

                <!--button-->
                <div class="config-button config-text-extra">
                    <button type="button"
                        class="btn btn-secondary btn-lg btn-block config-button title-font">CADASTRAR</button>
                </div>
                <!--button-->

            </div>
        </form>
        <!--/formulario-->

        <!--link para cadastro pelo sistema-->
        <div class="config-text-extra">
            <div class="p-t-57 p-b-20 p-t-30">
                <span class="txt1">
                    Já tem uma conta? <a class="efeito-link" href="#">entrar</a>
                </span>
            </div>
            <!--/link para cadastro pelo sistema-->

            <!--link para cadastro com API Externa facebook e GOOGLE-->
            <div class="flex-c p-b-112 mt-20">
                <span class="txt2">
                    Ou cadastre com
                </span>
                <a href="#" class="login100-social-item px-1">
                    <img src="https://github.com/Karinecasant/bootstrap/blob/main/assets/img/facebook.png?raw=true"
                        height="20px" width="20px">
                </a>
                <a href="#" class="login100-social-item px-1">
                    <img src="https://github.com/Karinecasant/bootstrap/blob/main/assets/img/google.png?raw=true"
                        height="20px" width="20px" alt="GOOGLE">
                </a>
            </div>
            <!--link para cadastro com API Externa facebook e GOOGLE-->

        </div>
    </div>
</div>