<app-home-usuario></app-home-usuario>

<div class="container p-0">
    <!-- BEGIN profile-header-tab -->
    <ul class="col-md-12 profile-header-tab nav nav-tabs">
        <li class="nav-item"><a routerLink='/home-usuario/posts' class="nav-link active">
            <i class="fa fa-rocket mr-2"></i> POSTS</a></li>
        <li class="nav-item"><a routerLink='/home-usuario/grupo-usuario' class="nav-link">
            <i class="fa fa-users mr-2 "></i>GRUPO</a>
        </li>
        <li class="nav-item"><a routerLink='/home-usuario/tema' class="nav-link"> 
            <i class="fa fa-list-alt mr-2"></i> TEMA
        </a>
        </li>
        <li class="nav-item"><a routerLink='/home-usuario/pesquisa' class="nav-link">
            <i class="fa fa-search mr-2"></i>PESQUISA</a>
        </li>

    </ul>
    <!-- END profile-header-tab -->
</div>


<div class="container bg-claro">
    <!-- begin #profile-post tab -->
    <!-- begin timeline -->
    <ul class="timeline">
        <li>
            <!-- begin timeline-time -->
            <div class="timeline-time">
                <span class="date">today</span>
                <span class="time">04:20</span>
            </div>
            <!-- end timeline-time -->
            <!-- begin timeline-icon -->
            <div class="timeline-icon">
                <a href="javascript:;">&nbsp;</a>
            </div>
            <!-- end timeline-icon -->
            <!-- begin timeline-body -->
            <div class="timeline-body">
                <div class="timeline-header">
                    <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt=""></span>
                    <span class="username"><a href="javascript:;">Sean Ngu</a>
                        <small></small></span>
                    <span class="pull-right text-muted">18 Views</span>
                </div>
                <div class="timeline-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus
                        turpis quis tincidunt luctus.
                        Nam sagittis dui in nunc consequat, in imperdiet nunc sagittis.
                    </p>
                </div>
                <div class="timeline-likes">

                    <div class="stats">
                        <span class="fa-stack fa-fw stats-icon">
                            <i class="fa fa-circle fa-stack-2x text-danger"></i>
                            <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
                        </span>
                        <span class="fa-stack fa-fw stats-icon">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                        </span>
                        <span class="stats-total">4.3k</span>
                    </div>
                </div>
                <div class="timeline-footer">
                    <a href="javascript:;" class="m-r-15 text-inverse-lighter mr-2"><i
                            class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i></a>
                    <a href="javascript:;" class="m-r-15 text-inverse-lighter mr-2"><i
                            class="fa fa-thumbs-down fa-fw fa-lg m-r-3"></i> </a>
                    <a href="javascript:;" class="m-r-15 text-inverse-lighter mr-2"><i
                            class="fa fa-comments fa-fw fa-lg m-r-3"></i></a>

                </div>
                <div class="timeline-comment-box">
                    <div class="user"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"></div>
                    <div class="input">
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control rounded-corner" placeholder="Write a comment...">
                                <span class="input-group-btn p-l-10">
                                    <button class="btn btn-primary f-s-12 rounded-corner" type="button">
                                        <i class="fa fa-paper-plane"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- end timeline-body -->
        </li>

    </ul>
    <!-- end timeline -->

    <!-- end #profile-post tab -->
</div>
<!-- end tab-content -->