.font_n {
    font-family: 'Poppins', sans-serif;
    
}

.cor {
    background: rgb(5,79,119);
    background: linear-gradient(90deg, rgba(5,79,119,1) 0%, rgba(9,96,121,1) 56%, rgba(92,143,207,1) 100%);
    
}

.cr{
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.round {
    border-radius: 0px 15px;
}

.f{
    position: relative;
    z-index: 2;
}



.g{
    display: inline;
    
}

