<div class="container p-0 bg-dark">
    <div class="row">
        <div class="col-md-12">
            <div id="content" class="content content-full-width">
                <!-- begin profile -->
                <div class="profile">
                    <div class="profile-header">
                        <!-- BEGIN profile-header-cover -->
                        <div class="profile-header-cover"></div>
                        <!-- END profile-header-cover -->
                        <!-- BEGIN profile-header-content -->
                        <div class="profile-header-content">
                            <!-- BEGIN profile-header-img -->
                            <div  class="profile-header-img">
                                <img [src]="fotoPerfil" alt="">
                            </div>
                            <!-- END profile-header-img -->
                            <!-- BEGIN profile-header-info -->
                            <div class="profile-header-info ">
                                    <h4 class="m-t-10 m-b-5">Nome: {{nome}}</h4>
                                    <p class="m-b-10">Descrição: {{descricao}}</p>
                                    <a class="btn btn-sm btn-info mb-2">Edit Group</a>
                               </div>
                            <!-- END profile-header-info -->
                        </div>
                        <!-- END profile-header-content -->

                    </div>
                </div>
                <!-- end profile -->


            </div>
        </div>
    </div>
</div>

<div class="container p-0">
    <!-- BEGIN profile-header-tab -->
    <ul class="col-md-12 profile-header-tab nav nav-tabs">
        <li class="nav-item"><a routerLink='/grupo-home/posts' class="nav-link active">
                <i class="fa fa-rocket mr-2"></i> POSTS</a>
        </li>
        <li class="nav-item"><a routerLink='/home-usuario/tema' class="nav-link">
            <i class="fa fa-backward mr-2"></i> VOLTAR</a>
        </li>
    </ul>
    <!-- END profile-header-tab -->
</div>

