<div class="container p-0 bg-dark round cr">
    <div class="row">
        <div class="col-md-12">
            <div id="content" class="content content-full-width">
                <!-- begin profile -->
                <div class="profile">
                    <div class="profile-header round">
                        <!-- BEGIN profile-header-cover -->
                        <div class="profile-header-cover"></div>
                        <!-- END profile-header-cover -->
                        <!-- BEGIN profile-header-content -->
                        <div class="profile-header-content cor ">
                            <!-- BEGIN profile-header-img -->
                            <div *ngIf="this.router.url !== '/home-usuario/tema/postagens'" class="profile-header-img">
                                <img [src]= "url_foto" alt="" class="w-100 h-100">
                            </div>
                            <!-- END profile-header-img -->
                            <!-- BEGIN profile-header-info -->
                            <div class="profile-header-info ">
                                <div *ngIf="this.router.url !== '/home-usuario/tema/postagens' ;
                                     then infoUsuario else infoTema">
                                </div>
                                <ng-template #infoUsuario>
                                    <a (click)='sair()' class="g ml-auto text-white d-flex justify-content-end"> <i class="fa fa-sign-out text-white" aria-hidden="true"></i>sair </a>
                                    <h4 class="m-t-10 m-b-5  font_n g ">{{ nome_usuario }}</h4>
                                    <p class="m-b-10  font_n">Código Usuário: {{ codigo_usuario}} </p>
                                    <button class="btn btn-sm btn-info mb-2  font_n" disabled>Editar perfil</button>
                                    <div class="d-flex justify-content-end"></div>
                                </ng-template>

                               
                                <ng-template #infoTema>
                                    <div class="row d-flex justify-content-center">
                                        <h4 class="m-t-10 m-b-5 text-center mb-4 font_n">Tema: {{descricaoTema }}</h4>
                                    </div>
                                    <div class="row d-flex justify-content-center">
                                        <a class="btn btn-sm btn-info mb-2  font_n">Editar Tema</a>
                                    </div>
                                </ng-template>
                                


                            </div>

                         
                            <!-- END profile-header-info -->
                        </div>
                        <!-- END profile-header-content -->

                    </div>
                </div>
                <!-- end profile -->


            </div>
        </div>
    </div>
</div>

<div class="container p-0">
    <!-- BEGIN profile-header-tab -->
    <ul class="col-md-12 profile-header-tab nav nav-tabs">
        <div *ngIf="this.router.url !== '/home-usuario/tema/postagens' ;
                                     then postPopular else postTema">
        </div>
        <ng-template #postPopular>
            <li class="nav-item"><a routerLink='/home-usuario/grupo-usuario' routerLinkActive="active" class="nav-link font_n">
                    <i class="fa fa-users mr-2"></i>Grupo</a>
            </li>
            <li class="nav-item "><a routerLink='/home-usuario/tema' routerLinkActive="active" class="nav-link font_n">
                    <i class="fa fa-list-alt mr-2"></i> Tema
                </a>
            </li>
            <li class="nav-item"><a routerLink='/home-usuario/pesquisa' routerLinkActive="active" class="nav-link font_n">
                    <i class="fa fa-search mr-2"></i>Pesquisa</a>
            </li>

        </ng-template>
        <ng-template #postTema>
            <li class="nav-item font_n"><a routerLink='/home-usuario/tema/postagens' class="nav-link active">
                    <i class="fa fa-rocket mr-2"></i> Posts</a></li>
            <li class="nav-item  font_n"><a routerLink='/home-usuario/tema' class="nav-link">
                <i class="fa fa-backward mr-2"></i> Voltar</a></li>
        </ng-template>



    </ul>
    <!-- END profile-header-tab -->
</div>